<h1>Invoice <%=@invoice.id%></h1>
<br>
Invoice Status: <%= @invoice.status %>
<br>
Created At: <%= @invoice.dates %>
<br>
Customer Name: <%= @invoice.full_name %>
<br>
<% @invoice.invoice_items.each do |invoice_item|%>
  <h3>Invoice Item <%= invoice_item.id%></h3>
  Quantity: <%=invoice_item.quantity %>
  <br>
  Unit Price: <%=invoice_item.unit_price%>
  <br>
  Status: <%=invoice_item.status%>
<% end %>
